.detailsContainer{
    background-color: blue;
    text-align: center;
    text-decoration: none;
}

.detailsContainerUl {
    text-decoration: none;

}

.detailsContainerLi{
    text-decoration: none;
}