.LogoGitClass {
    width: 5rem;
    padding: 0.5rem;
}

.serachContainer {
    margin: 1rem;
    height: 2.5rem;
}

.navBar {
    background-color: var(--color1) !important;
}

.navbarButtonContainer {
    display: flex;
    margin: 0rem 1.5rem;
    font-family: var(--mainFont);
}

.username{
    padding: 15px;
    margin: 0!important;
}