.head{
    display: flex;
    border: #07d484;
    border-style: solid;
    margin: 4rem 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logoContainer{ 
    width: 5rem;
}
.logo {
    background-color: blue;
}
.navbar{
    border: #07d484;
    border-style: solid;
    margin-left: 30%;
}
.item{
    color: black;
    padding: 0.5rem;
}