@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

:root {
    --mainFont:'B612 Mono', monospace;
    --color1:#1A1A2E;
    --color2:#16213E;
    --color3:#0F3460;
    --color4:#E94560;

  }

.App{
  font-family: var(--mainFont)!important;
  background-color: var(--color1);
  color: whitesmoke;
  padding-bottom: 8rem;
}